@import '../themes/variable.scss';
@import '../helpers/mixin.scss';

.topbar {
    position: relative;
    z-index: 999;
    height: 30px;
    background: #363C40;
    box-shadow: 0 1px 4px 0 rgba(0,21,41,0.08);

    &-nav {
        display: inline-block;
        font-size: 0;

        &-item {
            display: inline-block;
            color: #999999;
            font-size: 14px;
            line-height: 30px;
            text-decoration: none;

            &:hover {
                color: #ffffff;
            }

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }

    &-right {
        float: right;
        height: 100%;
        font-size: 0;

        // @include verticalMiddle;
        @include ul;

        &-item {
            position: relative;
            display: inline-block;
            color: #999999;
            font-size: 14px;
            line-height: 30px;

            @include list-split-line(#999999, 1em);

            &:not(:first-child) {
                padding-left: 15px;
            }

            &-link {
                color: #999999;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    &-qr-container {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        width: 530px;
        // margin-top: 10px;
        padding: 15px;
        background: #FFFFFF;
        -webkit-box-shadow: 0 7px 12px #c0c2cc;
        -moz-box-shadow: 0 7px 12px #c0c2cc;
        box-shadow: 0 7px 12px #c0c2cc;
    }

    &-qr-wrapper:hover &-qr-container {
        display: block!important;
    }

    &-qr-a {
        cursor: pointer;
    }

    &-qr-item {
        float: left;
        width: 25%;
    }

    &-qr-item img {
        display: block;
        margin: auto;
    }

    &-qr-item p {
        margin: 8px auto 2px;
        text-align: center;
        line-height: 1;
    }
}