<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>home</title>
    <meta name="keywords" content="{{ state.headKeywords }}" />
    <meta name="description" content="{{ state.headDescription }}" />
    <meta name="mobile-agent" content="format=html5; url={{ state.headMobileUrl }}">
    <meta name="mobile-agent" content="format=xhtml; url={{ state.headMobileUrl }}">
    <meta name="mobile-agent" content="format=wml; url={{ state.headMobileUrl }}">
</head>
<body>
    <h1>页面内容</h1>
    <h2>修改页面内容123456</h2>
</body>
</html>
