@import '../themes/variable.scss';
@import '../helpers/mixin.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    background: url("~@img/big_bg.jpg") center center/cover no-repeat;
}

.clearfix {
    @include clearfix;
}

.store {

    &-text {
        &-striking {
            color: $color-main;
        }

        &-hot {
            color: $color-hot;
        }
    }

    &-tip {
        color: $font-content;
        font-size: 12px;
    }

    &-link {
        color: $color-main;
        cursor: pointer;
    }

    /* 消息弹窗的样式重写 */
    &-message {
        top: 50%!important;
        transform: translate(-50%, -50%);
        min-width: 150px;
        padding: 21px 40px 23px;
    }
    /* 消息弹窗的样式重写end */

    /* 确认框样式重写 */
    &-confirm {
        width: 280px;
        padding: 0;

        &.not-header {
            .el-message-box__header {
                display: none;
            }
        }

        .el-message-box__content {
            position: relative;
            box-sizing: border-box;
            min-height: 106px;
            // padding: 30px 45px;
            text-align: center;
        }

        .el-message-box__container {
            min-height: 86px;
        }

        .el-message-box__message {
            width: 100%;
            max-width: 190px;
            font-size: 16px;
            @include center;
        }

        .el-message-box__btns {
            display: flex;
            padding: 0;
            border-top: 1px #f8f8f8 solid;
    
            .el-button {
                flex: 1;
                height: 43px;
                margin: 0;
                border: none;
                background: transparent;
                color: $font-content;
                
                &:not(:last-child) {
                    border-right: 1px #f8f8f8 solid;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
    
                &:hover {
                    background: rgba($color-main, 0.08);
                }
    
                &.el-button--primary {
                    color: $color-main;
                    outline: none;
                }
            }
        }
    }
    /* 确认框样式重写 end */

    &-section {
        &.placeholder {
            height: 100px;
            // background: url(~@img/bg.jpg) center center/cover no-repeat;
        }
    }

    &-container {
        width: 1200px;
        margin: auto;

        &.full-height {
            height: 100%;
        }

        &.relative {
            position: relative;
        }
    }

    &-content {
        background: #ffffff;

        &.mt-25 {
            margin-top: 25px;
        }
    }

    &-nav {
        padding: 0 15px;
        border-bottom: 1px $border-table solid;
        font-size: 0;

        &-item {
            display: inline-block;
            margin-bottom: -1px;
            padding: 20px;
            border-bottom: 2px transparent solid;
            color: $font-main;
            font-size: 16px;
            line-height: 1;
            text-decoration: none;

            &.active {
                color: $color-main;
                border-bottom-color: $color-main;
            }
        }
    }

    /* 确认框样式重写 */
    &-confirm {
        width: 280px;
        padding: 0;

        &.not-header {
            .el-message-box__header {
                display: none;
            }
        }

        .el-message-box__content {
            position: relative;
            box-sizing: border-box;
            min-height: 106px;
            // padding: 30px 45px;
            text-align: center;
        }

        .el-message-box__message {
            width: 100%;
            max-width: 190px;
            font-size: 16px;
            @include center;
        }

        .el-message-box__btns {
            display: flex;
            padding: 0;
            border-top: 1px #f8f8f8 solid;
    
            .el-button {
                flex: 1;
                height: 43px;
                margin: 0;
                border: none;
                background: transparent;
                color: $font-content;
                
                &:not(:last-child) {
                    border-right: 1px #f8f8f8 solid;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
    
                &:hover {
                    background: rgba($color-main, 0.08);
                }
    
                &.el-button--primary {
                    color: $color-main;
                    outline: none;
                }
            }
        }
    }
    /* 确认框样式重写 end */

    // 以下是表单的样式的重写

    &-control {
        &.fill {
            &.el-select {
                width: 100%;
            }    
        }

        &.short {
            &.el-date-editor--daterange {
                width: 240px;
            }

            &.el-select {
                width: 100px;
            }
        }

        &.little-short {
            &.el-select {
                width: 120px;
            }
        }

        &.long {
            width: 240px;

            &.el-select {
                width: 240px;
            }
        }

        &.fairly-long {
            width: 400px;
        }

        &.mrgin-left-15 {
            margin-left: 15px;
        }
    }
}