/* 改变主题色变量 */
$color-main: #1891FF;       // 主题色

$color-focus: #40A9FF;      // 聚焦时的颜色

$color-hot: #C8201E;        // 强调，突出的颜色



$font-main: rgba(#000000, 0.85);        // 一级字体颜色

$font-content: rgba(#000000, 0.65);     // 二级文字颜色

$font-minor: rgba(#000000, 0.45);       // 三级文字颜色

$font-help: rgba(#000000, 0.15);        // 表单辅助文字


$border-default: #E9E9E9;               // 默认的边框色

$border-element: #D9D9D9;               // 组件的边框色

$border-table: #E9E9E9;                 // 边框的颜色



$bg-html-body: #f1f3f5;                 // 网页背景色

$bg-split: #f2fbff;                     // 表单分割背景色

$bg-block: #f8f8f8;                     // 色块背景色

$bg-thead: #FAFAFA;                     // 表头的背景色